* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --space-grey: #030303;
  --gradient: linear-gradient(113.83deg, #121212 0.59%, #121212 99.74%);
  --white: #ffffff;
  --green: #66d36e;
}

// Default: 16px

@media (max-width: 1080px) {
  // 15px
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

html {
  background: #121212;
}

body {
  position: relative;
  min-height: 100vh;

  background: var(--gradient);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}
